[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.1.0"
whitenoise = "==5.1.0"
django-bootstrap-modal-forms = "*"
bootstrap4 = "*"
django-widget-tweaks = "*"
django-bootstrap4 = "*"
djangoajax = "*"
django-bootstrap-icons = "*"
psycopg2 = "*"
django-phone-field = "*"
django-crispy-forms = "==1.9.2"

[dev-packages]

[requires]
python_version = "3.8"
