{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %} 
{% include 'waves.html' %}
<center>
  <div class="card text-white bg-dark mb-3" style="max-width: 22rem; text-align: left;">
    <div class="card-header">Login</div>
    <div class="card-body">
      <form method="post" action="">
        {% csrf_token %} {{form|crispy}}
        <div class="card-footer">
          <center>
          <button class="btn btn-success btn-sm mb-2 w-50" type="submit">Login</button>
        </br><a style="font-size: 14px;" href="{% url 'accounts:passowrd_reset' %}">Forgot password?</a>
      </center>
        </div>
      </form>
    </div>
  </div>
</center>
{% endblock content %}
