{% extends 'base.html' %}

<body>
  {% block content %}
  <div class="alert alert-info" role="alert">Your password has been set.</div>
  <center>
    <button
      onclick="location.href= '/accounts/login/'"
      class="btn btn-primary btn-lg"
    >
      Login
    </button>
  </center>
  {% endblock content %}
</body>
{% block script %}
<script type="text/javascript">
  $(function () {
    $(".alert")
      .fadeTo(4000, 500)
      .slideUp(250, function () {
        $(".alert").slideUp(5000);
      });
  });
</script>
{% endblock script %}
