{% extends 'base.html' %}

<body>
  {% block content %}
  <div class="alert alert-info" role="alert">Your password has been set.</div>
  <center>
    <button id="login-btn" class="btn btn-primary btn-lg">Login</button>
  </center>
  {% endblock content %}
</body>
{% block script %}
<script type="text/javascript">
  $(function () {
    $("#login-btn").on("click", function () {
      var url = "{% url 'login' %}";
      document.location.href = url;
    });

    $(".alert")
      .fadeTo(4000, 500)
      .slideUp(250, function () {
        $(".alert").slideUp(5000);
      });
  });
</script>
{% endblock script %}
