{% extends 'base.html' %}

<body>
  {% block content %}
  <center>
  <div class="alert alert-info" style="max-width: fit-content;" role="alert">
    A password reset request has been sent to your email.
  </br>Also,Check your Spam box.
  </div>
</center>
  {% endblock content %}
</body>
{% block script %}
<script type="text/javascript">
  $(function () {
    $(".alert")
      .fadeTo(4000, 500)
      .slideUp(250, function () {
        $(".alert").slideUp(5000);
      });
  });
</script>
{% endblock script %}
