{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
{%include 'waves.html' %}
<center>
  <div
    class="card text-white bg-dark mb-3"
    style="max-width: 25rem; text-align: left"
  >
    <div class="card-header">Signup</div>
    <div class="card-body">
      <form method="post" action="">
        {% csrf_token %} {{form|crispy}}
        <div class="card-footer">
          <center>
          <button class="btn btn-success btn-sm w-50" type="submit">
            Signup
          </button>
        </center>
        </div>
      </form>
    </div>
  </div>
  {% endblock content %}
</center>
