{% load django_bootstrap_icons %}
{% include_bootstrap_icons %}

<div class="card bg-dark pre-scrollable mb-3" style="border-radius: 15px;">
  <div class="card-body">
    <p>
      <table id="books-table" class="table table-striped">
        <thead>
          <tr style="color: lawngreen;">
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Title</th>
            <th class="text-center" scope="col">URL</th>
            <!-- <th class="text-center" scope="col">Date</th> -->
            <th class="text-center" scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          {% for bookmark in demo_bookmarks %}
          <tr>
            <th class="text-center text-white" scope="row">{{ forloop.counter }}</th>
            <td class="text-center text-white" scope="row">{{ bookmark.bookmark_title_demo }}</td>
            <td class="text-center"><a href="{{ bookmark.bookmark_link }}">{{ bookmark.bookmark_link_demo }}</a></td>
            <!-- <td class="text-center">{{ bookmark.timestamp }}</td> -->
            <td class="text-center">
                  <button
                  type="button"
                  class="bs-modal btn btn-sm btn-outline-primary"
                  id="edit-btn"
                  data-form-url="{% url 'bookmark_demo_mode:demo_bookmark_edit' bookmark.pk %}"
                >
                <i class="bi bi-pencil-fill"></i>
                </button>
                <button
                  type="button"
                  class="bs-modal btn btn-sm btn-outline-danger"
                  id="delete-btn"
                  data-form-url="{% url 'bookmark_demo_mode:demo_bookmark_delete' bookmark.pk %}"
                >
                <i class="bi bi-trash-fill"></i>
                </button>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </p>
</div>
