{% load django_bootstrap_icons %}
{% include_bootstrap_icons %}

<div class="card bg-dark pre-scrollable mb-3" style="border-radius: 15px;">
  <div class="card-body">
    <p>
      <table id="books-table" class="table table-striped">
        <thead>
          <tr style="color: lawngreen;">
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Title</th>
            <th class="text-center" scope="col">URL</th>
            <!-- <th class="text-center" scope="col">Date</th> -->
            <th class="text-center" scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          {% for bookmark in bookmarks %}
          <tr >
            <th class="text-center text-white" scope="row">{{ forloop.counter }}</th>
            <td class="text-center text-white" scope="row"><strong>{{ bookmark.bookmark_title }}</strong></td>
            <td class="text-center" style="max-width: 150px; font-size: 12px;"><a href="{{ bookmark.bookmark_link }}">{{ bookmark.bookmark_link }}</a></td>
            <!-- <td class="text-center">{{ bookmark.timestamp }}</td> -->
            <td class="text-center" style="max-width: 10px;">
                  <button
                  type="button"
                  class="bs-modal btn btn-sm btn-outline-primary"
                  data-form-url="{% url 'edit_bookmark' bookmark.pk %}"
                >
                <i class="bi bi-pencil-fill"></i>
                </button>
                <button
                  type="button"
                  class="bs-modal btn btn-sm btn-outline-danger"
                  data-form-url="{% url 'delete_bookmark' bookmark.pk %}"
                >
                <i class="bi bi-trash-fill"></i>
                </button>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </p>
</div>
