{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Bookmark</title>
  </head>
  <body>
    {% block content %}
    <h1>Delete Bookmark</h1>
    <form method="POST">
      {{form.as_p}} {% csrf_token %}
      <p>
        Are You sure you want to delete {{bookmark_del_object.bookmark_title}} ?
      </p>
      <input class="btn-warning" type="submit" value="Yes" />
    </form>
    <button class="btn-confirm" onclick="location.href = '/bookmarks/'">
      No
    </button>
    {% endblock content %}
  </body>
</html>
