{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'assets/cses/home_header.css' %}" />
  </head>
  {% block content %}
  <body>
    {% include 'waves.html' %}
    {% include 'modal.html' %}
    <center>
      {% include 'message.html' %}
      <div
        class="card text-white bg-dark mb-3"
        style="max-width: 22rem; margin-top: 30px"
      >
        <div class="card-header" style="color: chartreuse">
          Welcome to Bookmark app
        </div>
        <div class="card-body">
          <strong><h5 class="card-title" style="color: rgb(255, 145, 0);">Note</h5></strong>
          <p class="card-text">
            Unfortunately, to use this app, you must log in to your account.
            Also, if you want to know about this app or how it works,
          </br>you can enter the <a href="#">DEMO MODE.</a>
          </p>
          <div class="card-footer">
            <button
              style="margin: 5px"
              class="btn btn-primary btn-sm"
              type="button"
              id="btn-signup"
            >
              Signup
            </button>
            <p>
              Already have an account?
              <a
                style="text-decoration: none; color: dodgerblue"
                class=""
                href="#"
                id="login-link"
                >Login</a
              >
            </p>
          </div>
        </div>
      </div>
      <p style="color: rgb(255, 145, 0) ;">
        Powered By SoliExE
      </p>
    </center>
    {% endblock content %}
  </body>
  {% block extrascripts %}
  <script type="text/javascript">
    $(function () {
      $("#login-link").modalForm({
        formURL: "{% url 'acc_login' %}",
      });

      $("#btn-signup").modalForm({
        formURL: "{% url 'accounts:signup' %}",
        modalID: "#modal",
      });

      $(".alert")
        .fadeTo(4000, 500)
        .slideUp(250, function () {
          $(".alert").slideUp(5000);
        });
    });
  </script>
  {% endblock extrascripts %}
</html>
